<div class='country-info__title'>
	<img width="32" height='32' alt='The flag of {{name}}' src='{{flags}}'></img>
	<span>{{name}}</span>
</div>
<ul class='country-info__list'>
	<li class='country-info__item'>
		<span class='country-info__key'>Capital:</span>
		<span class='country-info__value'>{{capital}}</span>
	</li>
	<li>
		<span class='country-info__key'>Population:</span>
		<span class='country-info__value'>{{population}}</span>
	</li>
	<li>
		<span class='country-info__key'>Languages:</span>
		<span class='country-info__value'>{{languages}}</span>
	</li>
</ul>